/**
 * @file
 * Matt Mowers glue styling for common
 *
 */

.block {
   margin-bottom: 0px;
}


#header {
  background-color: #008040;
}


/*#block-menu-menu-login-logout .block-title{
  display: none;
}*/

#block-menu-menu-login-logout{
  float: right;
  margin: 0;
}

#block-menu-menu-login-logout ul.menu{
  margin: 0;
}

#block-menu-menu-login-logout li{
  display: inline;
  margin-right: 10px;
}

.page-user #page-title {
  display: none;
}